.hangman {
  position: relative;
  height: 100%;
  width: 1000px;
  color: black;
  text-align: center;
  zoom: 1.3;
}

.hangman button {
  border: none;
  font-family: inherit;
  font-size: 1rem;
  cursor: pointer;
  width: 30px;
  margin: 5px 2px 2px 2px;
  letter-spacing: 1px;
  outline: none;
  background: #00bcd4;
  color: #fff;
  box-shadow: 0 6px #0097a7;
  border-radius: 5px;
  padding-top: 4px;
}

.hangman button:hover {
  background-color: #0097a7;
}

.hangman button:disabled {
  background: #bdbdbd;
  color: #eeeeee;
  box-shadow: 0 6px #9e9e9e;
}

#reset {
  display: inline-block;
  position: absolute;
  width: auto;
  margin-left: 200px;
  /* margin-top: 200px; */
  margin-left: 122px;
  /* margin-right: auto; */
  margin-top: 123px;
  background: rgb(255, 132, 0);

  box-shadow: 0 6px rgb(174, 92, 5);
  transform: rotate(-38deg);
}
#reset:hover {
  background: rgb(174, 92, 5);
}

.history {
  position: absolute;
  left: auto;
  width: 200px;
  height: 300px;
  margin: 120px;
  color: rgb(255, 132, 0);
  font-size: large;
  font-weight: bold;
  /* background-color: #ffffe0; */
}

#title-history {
  text-decoration: underline;
  color: rgb(255, 132, 0);
  font-size: x-large;
}

.mistakes {
  color: rgb(255, 132, 0);
  /* font-style: italic; */
  font-size: large;
  font-weight: bold;
}

.winner {
  color: red;
  font-size: x-large;
  font-weight: bold;
  margin: 0;
}
