.keyboard {
  width: 400px;
  color: black;
  text-align: center;
  zoom: 1.3px;
  letter-spacing: 1em;
  margin: 0.4em -1em 0.2em 0;
  font-size: 2rem;
  border: none;
  font-family: inherit;
  font-size: 1rem;
  cursor: pointer;
  width: 30px;
  margin: 5px 2px 2px 2px;
  letter-spacing: 1px;
  outline: none;
  background: #00bcd4;
  color: #fff;
  box-shadow: 0 6px #0097a7;
  border-radius: 5px;
  padding-top: 4px;
  background-color: red;
}
